@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

.wrapper{
  background: linear-gradient(90deg, rgba(194,153,158,1) 0%, rgba(200,173,198,1) 52%, rgba(200,196,216,1) 100%);
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 10%;
  color: #73797B;
}

.card-title{
  background-color: white;
  padding: 0 32px;
}

.card-title-header{
  font-weight: bold;
  color: #61686B;
  font-size: 32px;
  padding: 32px 0;
}

.profile-img img{
  width: 300px;
  height: 337px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.profile-wrapper{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 32px;
}

.mydescription{
  align-self: center;
  text-align: left;
  font-size: 20px;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
