.banner-wrapper{
    height: 70vh;
    color: white;
    padding-top: 30vh;
  }
  
  #myname{
    padding: 16px 8px;
    font-weight: bold;
    font-size: 32px;
  }
  
  #job-title{
    font-size: 24px;
    padding: 16px 8px;
  }
